<div class="container">
  <ng-container *ngIf="true">
    <div class="cart-table">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Sr.No</th>
              <th>Product Name</th>
              <th>Product Image</th>
              <th>Despriction</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of products , let i = index" , > 
              <td>{{1 +1}}</td>
              <td>{{item.title}}</td>
              <td><img src={{item.image}} alt=""></td>
              <td>{{item.despriction}}</td>
              <td> {{item.price}} </td>
              <td>1</td>
              <td>50,000</td>
              <td>
                <button
                  type="button"
                  class="btn btn-danger"
                  style="
                    pointer-events: none;
                    background-color: #eb780a;
                    border: 1px solid #eb780a;
                  "
                  (click)="removeItem(item)"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="false">
  <div class="container">
    <div class="card">
      <h5 class="cart-title">My Cart</h5>
    </div>
    <div class="center">
      <img
        src="https://www.iconpacks.net/icons/2/free-add-to-cart-icon-3046-thumb.png"
        alt=""
      />
      <h4>Your Cart is Empty</h4>
      <h4>Add item init Now</h4>
      <button class="btn btn-primary">Add to Cart</button>
    </div>
  </div>
</ng-container>
