.card{
    height: 65vh;
    margin: 25px;
    padding: 25px;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
}

.center > img {
    width: 250px;
    margin-bottom: 20px;
    color: inherit;
    border: none;
    
}

.cart-table{

    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-color: white;
    background-clip: border-box;
    border: 1px solid black;
    border-radius: 5px;
}

.center > button {
    font-size: 14px !important;
    font-weight: 500;
    padding: 10px; 
    text-decoration: none !important;
    background-color: #EB780A;

}

.btn:hover{
    background-color: #EB780A;
    border-color: #EB780A;
}