.form-control{
    border-radius: 5px;
    width: 600px;
    margin-left: 15px;
   
 
}

.search-icon{
    position: absolute;
    z-index: 10;
    right: 57%;
    color: blue;
    font-size: 20px  ;
}