<header>
  <div class="navbar bg-primary navbar-dark shadow-sm">
    <div class="navbar-brand align-items-center d-flex">
      <i class="fas fa-shipping-fast" style="font-size: 40px"> &nbsp; </i>
      <strong style="font-size: 40px"> Daraz</strong>
      <div class="form-group">
        <input
          type="text "
          placeholder="Search for the product"
          class="form-control"
        />
      </div>
      <span class="search-icon">
        <i class="fa-sharp fa-solid fa-magnifying-glass"></i
      ></span>
    </div>
    <button class="btn-primary">
      <i class="fa-solid fa-cart-shopping" style="font-size: 30px"></i>
      <div class="badge bg-danger" style="font-size: 12px">5</div>
    </button>
  </div>
</header>
