<div class="container">
  <div class="row">
    <div class="card col-md-3" *ngFor="let item of ProductList">
      <img src="{{ item.image }}" alt="" class="cart-img" />
      <h5
        style="
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100ch;
        "
      >
        {{ item.title }}
      </h5>
      <p
        style="
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100ch;
        "
      >
        {{ item.description }}
      </p>
      <p><strong> price: </strong> ${{ item.price }}</p>
      <button class="btn btn-primary">Add to Cart</button>
    </div>
  </div>
</div>
