
<div class="card-top container-fluid">
    <div class="container d-flex">
      <div class="items">
        <a>
          <img
            src="https://img.freepik.com/free-psd/shopping-cart-3d-render-transparent-psd-file_460848-6771.jpg?w=740&t=st=1665557472~exp=1665558072~hmac=efde1bd2340094e520a05c60e6aa7134377261e7e8c24d3a368131ecda330655"
            alt=""
          />
          <h6>All Product</h6>
        </a>
      </div>
      <div class="items">
        <img
          src="https://img.freepik.com/free-vector/flash-logo-energy-power-colorful-thunderbolt-voltage-electric-logotype_126523-2796.jpg?w=740&t=st=1665557725~exp=1665558325~hmac=f9af20291eb95207ac8f437a68761575fb26c2c5e30c96cd55b2fe50c36039b7"
          alt=""
        />
        <h6>Electronic</h6>
      </div>
      <div class="items">
        <img
          src="https://i.pinimg.com/736x/7b/5f/d9/7b5fd9f074cf1ec3709271398dcf653a.jpg"
        />
        <h6>Fashion</h6>
      </div>
      <div class="items">
        <img
          src="https://st2.depositphotos.com/1807998/6500/v/600/depositphotos_65007299-stock-illustration-wing-logo-template.jpg"
          alt=""
        />
        <h6>Jewllory</h6>
      </div>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="card col-md-3" *ngFor="let item of ProductList">
      <img src="{{ item.image }}" alt="" class="cart-img" />
      <h5
        style="
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100ch;
        "
      >
        {{ item.title }}
      </h5>
      <p
        style="
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100ch;
        "
      >
        {{ item.description }}
      </p>
      <p><strong> price: </strong> ${{ item.price }}</p>
      <button class="btn btn-primary">Add to Cart</button>
    </div>
  </div>
</div>
