.cart-img{
    width: 200px;
    height: 200px;
    margin-top: 10px;
}

.container{
    margin-top: 20px;
}

.card{
    margin: 50px;
    padding: 20px;
}

.card-top{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid black;
    border-radius: 0.25rem;
}

.items img{
    width: 100px;
    height: 100px;
   
}

.items{
    margin-right: 250px;
    margin-top: 10px;
    text-align: center;
}